* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 0em) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 10vh;
  }
  .nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    background: white;
    visibility: hidden;
    z-index: 1;
  }
  .nav .nav__list .nav__list-item {
    list-style: none;
    height: auto;
    font: 400 1em "Montserrat", "Lato", "Times New Roman", sans-serif;
    color: white;
    text-align: center;
    padding: 15% 0;
  }
  .nav .nav__list .nav__list-item .nav__link {
    text-decoration: none;
    color: #000;
  }
  .nav .show {
    visibility: visible;
  }
  .nav #navBurger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    right: 12.5%;
    top: 25%;
    z-index: 1;
  }
  .nav #navBurger .burger-line1, .nav #navBurger .burger-line2, .nav #navBurger .burger-line3 {
    width: 1.5em;
    height: .25em;
    border-radius: 1em;
    background: black;
    margin: 0.125em 0 0.125em 0;
  }
  .nav .navBurgerToggle .burger-line1 {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg);
    -webkit-transition: .1s ease-in;
    transition: .1s ease-in;
  }
  .nav .navBurgerToggle .burger-line2 {
    visibility: hidden;
  }
  .nav .navBurgerToggle .burger-line3 {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg);
    -webkit-transition: .1s ease-in;
    transition: .1s ease-in;
  }
  #wrapper {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto 5%;
  }
  #wrapper .landing {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  #wrapper .landing .content {
    width: 75%;
    font: 700 2.5rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    position: relative;
    bottom: 10%;
  }
  #wrapper .landing .content:nth-child(1) {
    margin: 0 0 1em 0;
  }
  .tournament {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .tournament .tournament__text {
    width: 90%;
    height: auto;
    font: 400 2rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    text-align: center;
  }
  .tournament .tournament__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    height: 8%;
    font: 400 1rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    border: .0625em solid #000;
    border-radius: .25em;
  }
  .copyright {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #333;
    color: #eee;
    font: 400 .625rem "Montserrat", "Lato", "Times New Roman", sans-serif;
  }
}
/*# sourceMappingURL=style.css.map */