$accent: #b30000
$neutral-dark: #222222
$neutral-light: #f8f8f8
$neutral-gray: #1b1f22

$font-family: "Montserrat", "Lato", "Times New Roman", sans-serif

@mixin flex-center()
    display: flex
    justify-content: center
    align-items: center

*
    margin: 0
    padding: 0
    box-sizing: border-box

@media screen and (min-width: 0em)
    body
        overflow-x: hidden
        
        .nav
            display: flex
            justify-content: space-between
            align-items: center

            height: 10vh
                
            .nav__list
                display: flex
                flex-flow: column nowrap

                width: 100%
                height: 100vh

                position: absolute
                left: 100%
                top: 0
            
                transition: all 0.25s ease

                background: $neutral-light

                .nav__list-item
                    font: 400 1rem $font-family
                    color: $neutral-light
                    text-align: center
                    
                    list-style: none

                    padding: 15% 0

                    .nav__link
                        text-decoration: none
                        color: $neutral-dark

            #navBurger
                @include flex-center()
                flex-flow: column nowrap
                
                margin-right: 5%

                position: relative
                left: 85%

                z-index: 1

                .burger-line1, .burger-line2, .burger-line3
                    width: 1.5em
                    height: 0.25em

                    margin: 0.125em 0 0.125em 0

                    background: $neutral-dark
                    border-radius: 1em
            
            #navBurgerCheckbox
                font-size: 1em
                width: 1.5em
                height: 1.5em
                
                position: absolute
                left: 85%

                z-index: 2
                opacity: 0

            #navBurgerCheckbox:checked ~ #navBurger .burger-line1
                transform: translateY(0.5em) rotate(45deg)
                transition: 0.1s ease-in
                
            #navBurgerCheckbox:checked ~ #navBurger .burger-line2
                visibility: hidden

            #navBurgerCheckbox:checked ~ #navBurger .burger-line3
                transform: translateY(-0.5em) rotate(-45deg)
                transition: 0.1s ease-in
            
            #navBurgerCheckbox:checked ~ .nav__list
                left: 0

            .nav__burger--toggle

                .burger-line1
                    transform: translateY(0.5em) rotate(45deg)
                    transition: 0.1s ease-in
                
                .burger-line2
                    visibility: hidden

                .burger-line3
                    transform: translateY(-0.5em) rotate(-45deg)
                    transition: 0.1s ease-in

            .show-menu
                left: 0

        #wrapper
            width: 90%
            height: fit-content

            margin: auto 5%

            .landing
                @include flex-center
                flex-flow: column nowrap

                max-height: 90vh

                padding: 25vh 0

                .title
                    width: 75%

                    font: 700 1.75rem $font-family
                    color: $neutral-dark
                    text-align: center
                
                .landing-logo
                    max-width: 50%

            .content
                @include flex-center()
                flex-direction: column
                margin: 25vh 0

                .content__text
                    width: 90%

                    margin: 0 0 1em 0

                    font: 400 1.5rem $font-family
                    text-align: center


                .content__btn
                    @include flex-center()

                    width: 10em

                    padding: 0.75em 0

                    border: 0.0625em solid $neutral-dark

                    font: 400 1rem $font-family
                    color: $neutral-dark
                    text-decoration: none

        .footer
            margin: auto

            background: $neutral-light

            .footer__text
                font: 400 .625rem $font-family
                color: $neutral-dark

            .social
                @include flex-center()
                flex-flow: row wrap
                
                padding-top: 2em

                .facebook
                    width: 2em
                    height: 2em

                    background: $accent
                    border: 0.0625em solid $accent
                    border-radius: 2em

                .facebook:before
                    display: inline-block

                    position: relative
                    top: 22.5%
                    left: 22.5%

                    color: $neutral-light
                    font: 700 1rem 'Genericons'

                    content: '\f204'
            
            .logo-and-awards
                @include flex-center()

                margin: 2em 0
                
                .logo, .guidestar-link
                    width: 25%

                    margin: 0.5em

                .guidestar
                    @include flex-center()

                    width: 100%

            .contact
                @include flex-center()
                flex-flow: column nowrap
                
                margin: 2em 0

                .email
                    @include flex-center()

                    margin-bottom: 0.15em

                    font: 700 1.25rem $font-family
                    color: $neutral-dark

                .email__underline
                    @include flex-center()
                    
                    width: 40%

                    margin-bottom: 0.5em

                    border: 0.125em solid $accent
                    border-radius: 0.125em

                .email__link
                    font: 400 0.875rem $font-family
                    text-decoration: none
                    color: $neutral-dark

                .email__link:hover
                    color: $accent

            .copyright
                @include flex-center

                margin: 2em 0

                .copyright__text
                    font: 400 0.875rem $font-family
                    color: $neutral-dark
                    text-align: center
            
            .privacy-policy
                @include flex-center
                
                padding-bottom: 2em

                .privacy-policy__link
                    font: 400 0.875rem $font-family
                    color: $neutral-dark
                    text-align: center

@media screen and ( min-width: 48em )
    .nav
        #navBurger

        #navBurgerCheckbox