* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 0em) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
  }
  .nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 100%;
    top: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background: #f8f8f8;
  }
  .nav .nav__list .nav__list-item {
    font: 400 1rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    color: #f8f8f8;
    text-align: center;
    list-style: none;
    padding: 15% 0;
  }
  .nav .nav__list .nav__list-item .nav__link {
    text-decoration: none;
    color: #222222;
  }
  .nav #navBurger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin-right: 5%;
    position: relative;
    left: 85%;
    z-index: 1;
  }
  .nav #navBurger .burger-line1, .nav #navBurger .burger-line2, .nav #navBurger .burger-line3 {
    width: 1.5em;
    height: 0.25em;
    margin: 0.125em 0 0.125em 0;
    background: #222222;
    border-radius: 1em;
  }
  .nav #navBurgerCheckbox {
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: 85%;
    z-index: 2;
    opacity: 0;
  }
  .nav #navBurgerCheckbox:checked ~ #navBurger .burger-line1 {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg);
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  .nav #navBurgerCheckbox:checked ~ #navBurger .burger-line2 {
    visibility: hidden;
  }
  .nav #navBurgerCheckbox:checked ~ #navBurger .burger-line3 {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg);
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  .nav #navBurgerCheckbox:checked ~ .nav__list {
    left: 0;
  }
  .nav .nav__burger--toggle .burger-line1 {
    -webkit-transform: translateY(0.5em) rotate(45deg);
            transform: translateY(0.5em) rotate(45deg);
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  .nav .nav__burger--toggle .burger-line2 {
    visibility: hidden;
  }
  .nav .nav__burger--toggle .burger-line3 {
    -webkit-transform: translateY(-0.5em) rotate(-45deg);
            transform: translateY(-0.5em) rotate(-45deg);
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  .nav .show-menu {
    left: 0;
  }
  #wrapper {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto 5%;
  }
  #wrapper .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    max-height: 90vh;
    padding: 25vh 0;
  }
  #wrapper .landing .title {
    width: 75%;
    font: 700 1.75rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    color: #222222;
    text-align: center;
  }
  #wrapper .landing .landing-logo {
    max-width: 50%;
  }
  #wrapper .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 25vh 0;
  }
  #wrapper .content .content__text {
    width: 90%;
    margin: 0 0 1em 0;
    font: 400 1.5rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    text-align: center;
  }
  #wrapper .content .content__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 10em;
    padding: 0.75em 0;
    border: 0.0625em solid #222222;
    font: 400 1rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    color: #222222;
    text-decoration: none;
  }
  .footer {
    margin: auto;
    background: #f8f8f8;
  }
  .footer .footer__text {
    font: 400 0.625rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    color: #222222;
  }
  .footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-top: 2em;
  }
  .footer .social .facebook {
    width: 2em;
    height: 2em;
    background: #b30000;
    border: 0.0625em solid #b30000;
    border-radius: 2em;
  }
  .footer .social .facebook:before {
    display: inline-block;
    position: relative;
    top: 22.5%;
    left: 22.5%;
    color: #f8f8f8;
    font: 700 1rem 'Genericons';
    content: '\f204';
  }
  .footer .logo-and-awards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2em 0;
  }
  .footer .logo-and-awards .logo, .footer .logo-and-awards .guidestar-link {
    width: 25%;
    margin: 0.5em;
  }
  .footer .logo-and-awards .guidestar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 2em 0;
  }
  .footer .contact .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.15em;
    font: 700 1.25rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    color: #222222;
  }
  .footer .contact .email__underline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
    margin-bottom: 0.5em;
    border: 0.125em solid #b30000;
    border-radius: 0.125em;
  }
  .footer .contact .email__link {
    font: 400 0.875rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    text-decoration: none;
    color: #222222;
  }
  .footer .contact .email__link:hover {
    color: #b30000;
  }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2em 0;
  }
  .footer .copyright .copyright__text {
    font: 400 0.875rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    color: #222222;
    text-align: center;
  }
  .footer .privacy-policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2em;
  }
  .footer .privacy-policy .privacy-policy__link {
    font: 400 0.875rem "Montserrat", "Lato", "Times New Roman", sans-serif;
    color: #222222;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */